*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}

#logo {
  font-family: 'Short Stack', cursive;
}

.table-container {
  max-width: 640px;
}

.info-container {
  min-width: 640px;
  border-radius: 36px;
  padding: 20px 32px;
}

.info-container h2 {
  font-size: 24px !important;
  margin: auto 0;
}

.table-container {
  margin: 48px 0;
}

.go-icon {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
  display: flex;
}

.mx-auto {
  margin: 0 auto;
}

.space-between {
  justify-content: space-between !important;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.secondary-text {
  color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text-huge {
  font-size: 64px;
}

.text-semibold {
  font-weight: 600;
}

.text-thin {
  font-weight: 100;
}

.line-height {
  line-height: 1;
}


