{{template "top"}}
<div class="flex flex-center full-width full-height">
    <div>
        <div class="">
            <h1 class="center-align text-huge" id="logo">rmmbr.it</h1>
        </div>
        <div class="info-container deep-purple lighten-2 flex flex-center space-between">
          <h2 class="url-name copyable">{{.ShortUrl}}</h2>
          <a href="/{{.ShortUrl}}">
            <div><i class="material-icons" style="color:darkblue">arrow_forward</i></div>
          </a>
        </div>
        <div class="table-container">
            <table class="full-width centered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Short URL</th>
                        <th>Long URL</th>
                        <th>Hits</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div class="table-item-wrapper">{{.Id}}</div></td>
                        <td><div class="table-item-wrapper copyable">{{.ShortUrl}}</div></td>
                        <td><div class="table-item-wrapper copyable">{{.LongUrl}}</div></td>
                        <td><div class="table-item-wrapper">{{.VisitedCounter}}</div></td>
                        <td><div class="table-item-wrapper">{{.CreatedAt.Format "Jan 02, 2006" }}</div></td>
                        <td><div class="table-item-wrapper">{{.UpdatedAt }}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/assets/js/main.js" />
{{ template "bottom" }}
